:root{--square-size: 60vmin}html,body{height:100%;margin:0;background:#000;display:flex;align-items:center;justify-content:center}.white{width:var(--square-size);height:var(--square-size);background:#fff;border-radius:6px}
